{% extends 'blog/base.html' %}
{% load static %}
{% load humanize %}

<link href="https://fonts.googleapis.com/css?family=Poppins:500,600&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/35c398e458.js" crossorigin="anonymous"></script>
<!--    <link rel="stylesheet"  href="{% static  'blog/css/base.css' %}">-->

{% block content %}
<div class="card mb-3">
    <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title text-dark">{{ post.title }}</h5>
        <p class="card-text text-primary">{{ post.author }}&nbsp;|&nbsp;<span class=" post-date text-dark">{{ post.date }}</span></small></p>
        <form method="post" action="{% url 'like_post' post.sno %}">
            {% csrf_token %}
            <button type="submit" name="post_sno" value="{{ post.sno }}" class="btn btn-primary btn-sm"
                style="height: 40px;width: 60px;">like</button>-<small class="text-small text-primary">{{ total_likes }}
                Likes</small>
        </form>
        <p class="card-text text-dark">{{ post.content|safe }}</p>

    </div>
    <hr>
    <div class="container" style="width: 100%;">
        <div>
            <h5>Comments:({{ comments.count }})</h5>
            <form method="post" action="{% url 'postComment' %}">
                <div class="mb-3">
                    {% csrf_token %}
                    <input type="text" class="form-control" name="comment" placeholder="Entetr your comments" />
                    <input type="hidden" name="postSno" value="{{ post.sno }}" />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <hr>
        {% for comment in comments %}
            <div class="row my-3">
                <div class="user-image col-md-1" style="height:41px;">
                    <img class="user-image rounded mx-auto d-block" src="/media/profile/user.jpeg" alt="user" style="height:100%;width:100%;"/>
                </div>
                <div class="user-name col-md-11 ">
                    <b style="font-size: 13px;">{{ comment.user.username }}</b> at {{ comment.timestamp | naturaltime }}
                    <div style="font-size: 13px;">{{ comment.comment }}</div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

<style>
    .card {
        width: 54%;
        margin: 0px auto;
    }

    .card-img-top {
        height: 30%;
    }

    .post-date {
        font-size: 13px;
    }
</style>

{% endblock %}