{% extends 'blog/base.html' %}
{% load static %}

<link href="https://fonts.googleapis.com/css?family=Poppins:500,600&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/35c398e458.js" crossorigin="anonymous"></script>
   <link rel="stylesheet"  href="{% static  'blog/css/base.css' %}">

{% block content %}


<div class="container">
    <div id="">
        <div id="trending-posts">
            <h5>Trending Posts</h5>
        </div>
        <div id="trending-posts">
            {% for cat in category %}
                <a href="{{ cat.id }}" id="cat-button"><button id="btn">{{ cat.name }}</button></a>
            {% endfor %}
        </div>
    </div>


    <div class="row  row-cols-md-3 g-4">
        {% for post in posts %}
            <div class="col">
                <a href="{{ post.slug }}">
                    <div class="card h-100">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                        {% else %}
                            <div class="card-img-top" style="background-color: #f0f0f0; min-height: 200px; display: flex; align-items: center; justify-content: center;">
                                <span style="color: #999;">No Image</span>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{ post.title }}</strong></h5>
                            <h6 class="post-author text-info">{{post.author}}&nbsp;|&nbsp;</h6>
                            <p class="post-date text-dark" style="font-size: 12px;">{{ post.date }}</p>
                            <p class="card-text text-dark" >{{ post.content|truncatechars:150|safe }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>


<style>
    .container {
        margin: auto;
    }

    #trending-posts {
        margin: 0px auto;
        width: 80%;
    }

    #cat-button {
        font-size: 12px;
    }

    .row {
        margin: 0px auto;
        width: 80%;
    }

    .card-title {
        font-size: 19px;
    }

    h6 {
        margin-right: 50px;
    }

    #card-text {
        font-size: 15px;
    }

    .post-author {
        font-size: 15px;
    }

    .post-date {
        margin-top: -30px;
        margin-left: 80px;
    }
</style>

{% endblock %}